<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-round-back"></ion-back-button>
    </ion-buttons>
    <ion-title>运费选择</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item>
    运费模板
  </ion-item> -->
  <ion-item (click)="close()">
    全国包邮
  </ion-item>
  <ion-item (click)="close()">
    除港澳台，新疆，西藏地区包邮
  </ion-item>
  <ion-item (click)="close()">
    运费待协商
  </ion-item>
</ion-content>
<ion-button (click)="close()">确定</ion-button>