<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="back()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
      <ion-button>
        <!-- <ion-icon name="search"></ion-icon> -->
        <ion-input placeholder="{{keyword}}"></ion-input>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-slides [options]="slideOpts" style="width: 100%">
  <ion-slide style="font-size: small">
    综合
  </ion-slide>
  <ion-slide style="font-size: small">
    产地
  </ion-slide>
  <ion-slide style="font-size: small">
    品类
  </ion-slide>
  <ion-slide style="font-size: small">
    筛选
  </ion-slide>
</ion-slides>
<ion-content>
  <ion-item *ngFor="let commodity of commodities" style="height: 150px;" (click)="gotoDetail(commodity)">
    <img style="width: 38%;height: 140px;object-fit: conver;"
      src="{{host}}/static/{{commodity.title}}/{{commodity.mediaList[0].image}}" />
    <div style="width: 62%;vertical-align: top;padding-left: 10px;">
      <div>
        {{commodity.title}}
      </div>
      <div style="margin-top: 30px">
        <ion-badge>自家</ion-badge>
        <ion-badge>满减</ion-badge>
      </div>
      <div style="margin-top: 30px">
        <div style="display:inline-block;width: 50%;color:red;">¥{{formatRBM(commodity.price?.group)}}</div>
        <div style="display:inline-block;width: 50%;text-align: right;">{{commodity.city}}</div>
      </div>
    </div>
  </ion-item>
</ion-content>