<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button icon="arrow-round-back"></ion-back-button>
      <ion-button>
        <!-- <ion-icon name="search"></ion-icon> -->
        <ion-input [(ngModel)]="keyword" (keyup.enter)="ionViewWillEnter()"></ion-input>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-slides [options]="slideOpts">
  <ion-slide>
    综合
  </ion-slide>
  <ion-slide>
    产地
  </ion-slide>
  <ion-slide>
    品类
  </ion-slide>
  <ion-slide>
    筛选
  </ion-slide>
</ion-slides>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content refreshingSpinner="bubbles"></ion-refresher-content>
  </ion-refresher>
  <ion-item *ngFor="let commodity of commodities" (click)="gotoDetail(commodity)">
    <img src="{{host}}/static/{{commodity.ownerId}}/{{commodity.title}}/{{commodity.mediaList[0]?.image}}"
      style="width: 40%;min-width: 140px;;height: 140px;border-radius:2px" />
    <div style="width: 60%;vertical-align: top;padding-left: 10px;">
      <div>
        {{commodity.title}}
      </div>
      <div style="margin-top: 30px">
        <ion-badge *ngFor="let tag of commodity.tagsList">{{tag}}</ion-badge>
      </div>
      <div style="margin-top: 30px">
        <div style="display:inline-block;width: 50%;color:red;">¥{{formatRBM(commodity.pricesList[0]?.group)}}</div>
        <div style="display:inline-block;width: 50%;text-align: right;">{{commodity.city}}</div>
      </div>
    </div>
  </ion-item>
</ion-content>