<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>
      我的订单
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-slides [options]="slideOpts">
  <ion-slide *ngFor="let status of statuses" [class.selected]="selectedStatus==status" (click)="listByStatus(status)">
    {{status}}
  </ion-slide>
</ion-slides>

<ion-content>
  <ion-card *ngFor="let order of orders">
    <ion-item lines="none" (click)="confirmReceive(order)">
      <ion-card-subtitle>
        {{order.snapshot?.ownerId?order.snapshot?.ownerId:'好农夫果园之家'}}
      </ion-card-subtitle>
      <ion-card-subtitle style="right:15px;position: absolute;">
        {{order.status}}
      </ion-card-subtitle>
    </ion-item>
    <ion-item-sliding>
      <ion-item lines="none" (click)="gotoOrderDetail(order)">
        <img class="order-image"
          src="{{host}}/static/{{order.snapshot?.ownerId}}/{{order.snapshot?.title}}/{{order.snapshot?.mediaList[0]?.image}}" />
        <div class="order-content">
          {{order.snapshot?.title}}
          <div class="order-price">
            ¥{{formatRBM((order.amount/100).toString())}}
          </div>
        </div>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="delete(order)">删除</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="refund(order)">
          申请退款
        </ion-button>
        <ion-button (click)="buyAgain(order.snapshot)">
          再次购买
        </ion-button>
        <ion-button>
          立即评价
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card>
</ion-content>