<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>订单确认</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    地址
  </ion-item>
  <ion-item>
    货品
  </ion-item>
  <ion-item>
    <ion-label>购买数量</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <ion-item>
    支付方式
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>立即支付
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>