ion-slides {
    width: 100%;
    ion-slide {
      font-size: small;
      padding: 3px;
    }
}

ion-button {
    font-size: small;
}

div {
    //margin: 5px;
    ion-item-sliding{
        ion-item {
            //--background: #f2f2f2;
            ion-img {
                width: 20%;
                height: auto;
                border-radius:5px;
                margin-left: 10px;
            }
        }
    }
    ion-item {
        --background: #f2f2f2;
    }
    div {
        div {
            display:inline-block;
            width: 33%;
            font-size:small;
            text-align: right;
        }
    }
}

.selected {
    color: var(--mycolor);
    border-bottom: 2px solid var(--mycolor);
}