<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button>
        <ion-icon name="search"></ion-icon>
        <ion-input placeholder="9块9包邮"></ion-input>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="position:fixed; top: 80px;width: 22%;">
    <ion-slides [options]="slideOpts" style="background-color:#f2f2f2;">
      <ion-slide (click)="itemClick(item)" [class.selected]="currentItem === item" *ngFor="let item of items">
        <div style="font-size:small">{{item.title}}</div>
      </ion-slide>
    </ion-slides>
  </div>
  <div style="margin-left:22%;vertical-align:top;">
    <ion-card>
      <!-- <ion-card-header>
        <ion-card-subtitle>当季热门</ion-card-subtitle>
        <ion-card-title>热门水果</ion-card-title>
      </ion-card-header> -->
      <ion-item>
        <ion-label style="font-size: small">当季热门</ion-label>
        <ion-icon name="menu" slot="end"></ion-icon>
      </ion-item>
      <ion-card-content>
        <div *ngFor="let hot of currentItem?.hots" style="display:inline-block;width: 25%;text-align: center">
          <img src="assets/{{hot.src}}" />
          {{hot.name}}
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let sc of currentItem?.subCategories | keyvalue" style="box-shadow: none;">
      <ion-card-header>
        <ion-card-subtitle>{{sc.key}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div *ngFor="let name of sc.value" style="display:inline-block;width: 25%;text-align: center">
          <div (click)="gotoView(name)" style="margin:10px 0;">{{name}}</div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>