<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button>
        <ion-icon name="search"></ion-icon>
        <ion-input placeholder="9块9包邮"></ion-input>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="slideOpts" style="width: 80px;margin-left: 0">
    <ion-slide (click)="itemClick(item)" *ngFor="let item of items">
      <ion-label [class.selected]="currentItem === item">{{item}}</ion-label>
    </ion-slide>
  </ion-slides>
</ion-content>