<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button>
        <ion-icon name="search"></ion-icon>
        <ion-input placeholder="9块9包邮"></ion-input>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: inline-block;width: 25%">
    <ion-slides [options]="slideOpts" style="background-color:#f2f2f2">
      <ion-slide (click)="itemClick(item)" [class.selected]="currentItem === item" *ngFor="let item of items">
        <ion-label style="font-size: medium">{{item}}</ion-label>
      </ion-slide>
    </ion-slides>
  </div>
  <div style="display:inline-block;width: 75%;vertical-align:top;">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>热门水果</ion-card-subtitle>
        <!-- <ion-card-title>热门水果</ion-card-title> -->
      </ion-card-header>

      <ion-card-content>
        <div style="display:inline-block;width: 33%;text-align: center">
          <img src="assets/fruit/apple.png" />
          苹果
        </div>
        <div style="display:inline-block;width: 33%;text-align: center">
          <ion-img src="assets/fruit/pea.png"></ion-img>
          梨
        </div>
        <div style="display:inline-block;width: 33%;text-align: center">
          <ion-img src="assets/fruit/caomei.png"></ion-img>
          草莓
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>热门蔬菜</ion-card-subtitle>
        <!-- <ion-card-title>热门水果</ion-card-title> -->
      </ion-card-header>

      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>