.slide-menu {
    font-size: small;
    margin-top: 5px;
}

.order-image {
    width: 20%;
    height: auto;
    border-radius:5px;
    margin-left: 10px;
    display:inline-block;
}

.order-content {
    margin-left:5px;
    display:inline-block;
    width: 75%;
    vertical-align: top;
}

.order-price {
    position:absolute;
    right:20px;
    bottom:30px;
    font-size: large;
    color:#f04b0f;
}

ion-button {
    font-size: small;
}