<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>
      我的订单
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-slides [options]="slideOpts" style="width:100%">
  <ion-slide class="slide-menu">
    全部
  </ion-slide>
  <ion-slide class="slide-menu">
    待付款
  </ion-slide>
  <ion-slide class="slide-menu">
    待发货
  </ion-slide>
  <ion-slide class="slide-menu">
    待收货
  </ion-slide>
  <ion-slide class="slide-menu">
    待评价
  </ion-slide>
</ion-slides>

<ion-content>
  <ion-card *ngFor="let order of orders">
    <ion-item lines="none">
      <ion-card-subtitle>
        {{idToCommodity[order.commodityId]?.owner?idToCommodity[order.commodityId].owner:'绿色之家'}}
      </ion-card-subtitle>
      <ion-card-subtitle style="right:15px;position: absolute;">
        {{order.status}}
      </ion-card-subtitle>
    </ion-item>
    <img class="order-image"
      src="{{host}}/static/{{idToCommodity[order.commodityId]?.title}}/{{idToCommodity[order.commodityId]?.mediaList[0].image}}" />
    <div class="order-content">
      {{idToCommodity[order.commodityId]?.title}}
      <div class="order-price">
        ¥{{formatRBM(order.amount)}}
      </div>
    </div>
    <ion-buttons style="float:right">
      <ion-button>
        申请退款
      </ion-button>
      <ion-button>
        再次购买
      </ion-button>
      <ion-button>
        立即评价
      </ion-button>
    </ion-buttons>
  </ion-card>
</ion-content>