<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>
      我的订单
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="slideOpts">
    <ion-slide class="slide-menu">
      全部
    </ion-slide>
    <ion-slide class="slide-menu">
      待付款
    </ion-slide>
    <ion-slide class="slide-menu">
      待发货
    </ion-slide>
    <ion-slide class="slide-menu">
      待收货
    </ion-slide>
    <ion-slide class="slide-menu">
      待评价
    </ion-slide>
  </ion-slides>
  <ion-card *ngFor="let order of orders">
    <ion-toolbar>
      <ion-buttons>
        <ion-button style="font-size: small">
          {{idToCommodity[order.commodityId]?.owner?idToCommodity[order.commodityId].owner:'绿色之家'}}
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button style="font-size: small">
          {{order.status}}
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <img class="order-image"
      src="{{host}}/static/{{idToCommodity[order.commodityId]?.title}}/{{idToCommodity[order.commodityId]?.mediaList[0].image}}" />
    <div class="order-content">
      {{idToCommodity[order.commodityId]?.title}}
      <div class="order-price">
        ¥{{formatRBM(order.amount)}}
      </div>
    </div>
    <ion-buttons style="float:right">
      <ion-button style="font-size: small">
        申请退款
      </ion-button>
      <ion-button style="font-size: small">
        再次购买
      </ion-button>
      <ion-button style="font-size: small">
        立即评价
      </ion-button>
    </ion-buttons>
  </ion-card>
</ion-content>