<ion-header>
  <ion-toolbar class="ion-text-center" color="success">
    <ion-title>
      我的订单
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="slideOpts">
    <ion-slide class="slide-menu">
      全部
    </ion-slide>
    <ion-slide class="slide-menu">
      待付款
    </ion-slide>
    <ion-slide class="slide-menu">
      待发货
    </ion-slide>
    <ion-slide class="slide-menu">
      待收货
    </ion-slide>
    <ion-slide class="slide-menu">
      待评价
    </ion-slide>
  </ion-slides>
  <ion-card>
    <ion-toolbar>
      <ion-buttons>
        <ion-button style="font-size: small">
          <ion-icon name="pin"></ion-icon>
          正禾食品
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button style="font-size: small">
          待评价
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <div class="order-image-div">
      <img class="order-image" src="assets/fruit/apple.png" />
    </div>
    <div class="order-content-div">
      山东烟台红富士苹果
      <div class="order-price">
        ¥88
      </div>
    </div>
    <ion-buttons style="float:right">
      <ion-button style="font-size: small">
        申请退款
      </ion-button>
      <ion-button style="font-size: small">
        再次购买
      </ion-button>
      <ion-button style="font-size: small">
        立即评价
      </ion-button>
    </ion-buttons>
  </ion-card>
</ion-content>