.order-image-div {
    display:inline-block;
    width: 25%;
}

.order-image {
    width: auto;
    height: 50px;
    margin:0 auto;
}

.order-content-div {
    display:inline-block;
    width: 75%;
    vertical-align: top;
}

.order-price {
    position:absolute;
    right:20px;
    bottom:30px;
    font-size: large;
    color:coral;
}