<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>
      我的订单
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="slideOpts">
    <ion-slide style="font-size: small">
      全部
    </ion-slide>
    <ion-slide style="font-size: small">
      待付款
    </ion-slide>
    <ion-slide style="font-size: small">
      待发货
    </ion-slide>
    <ion-slide style="font-size: small">
      待收货
    </ion-slide>
    <ion-slide style="font-size: small">
      待评价
    </ion-slide>
  </ion-slides>
  <ion-card>
    <ion-toolbar>
      <ion-buttons>
        <ion-button>
          <ion-icon name="pin"></ion-icon>
          正禾食品
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button>
          待评价
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <img style="display:inline-block;width: 35%;" src="assets/fruit/apple.png" />
    <div style="display:inline-block;width: 65%;vertical-align: top;">
      <div>
        山东烟台红富士苹果
      </div>
      <div style="position:absolute;right:20px;bottom:50px;font-size: large;color:coral">
        ¥88
      </div>
    </div>

    <ion-buttons style="float:right">
      <ion-button style="font-size: small">
        <ion-icon name="more"></ion-icon>
        申请退款
      </ion-button>
      <ion-button style="font-size: small">
        <ion-icon name="more"></ion-icon>
        再次购买
      </ion-button>
      <ion-button style="font-size: small">
        <ion-icon name="more"></ion-icon>
        立即评价
      </ion-button>
    </ion-buttons>
  </ion-card>
</ion-content>