<ion-header>
  <ion-toolbar class="ion-text-center">
    <!-- <ion-buttons>
      <ion-button (click)="back()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title>发布商品</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item lines="none">
      <ion-label>标题</ion-label>
      <ion-input placeholder="请输入商品标题" [(ngModel)]="commodity.title"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label>类别</ion-label>
      <ion-select placeholder="商品类别">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-card-content>
      <img style="width: 80px;height: auto;" src="assets/fruit/apple.png" />
    </ion-card-content>
    <ion-item lines="none">
      <ion-button color="success" (click)="addMedia()">
        <ion-icon name="add"></ion-icon>
        图片|视频
      </ion-button>
      <img [src]="imageSrc" />
    </ion-item>
    <ion-item>
      <ion-label>货源地址</ion-label>
      <ion-icon name="pin"></ion-icon>
      <ion-input [placeholder]="address" [(ngModel)]="commodity.address"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label>单买价</ion-label>
      <ion-input placeholder="¥0.00"></ion-input>
      <ion-label>拼单价</ion-label>
      <ion-input placeholder="¥0.00"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label>库存</ion-label>
      <ion-input placeholder="请输入库存数量"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>物流</ion-label>
      <ion-input placeholder="运费待商议"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="arrow-dropright"></ion-icon>
      显示更多
    </ion-item>
    <!-- <ion-card-content>
      <ion-label>详情</ion-label>
      <ion-input placeholder="请填写内容(可选)"></ion-input>
    </ion-card-content> -->
  </ion-card>
</ion-content>
<ion-button color="success" (click)="submit()">确认发布</ion-button>