<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="heart-empty"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="share"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="slideOpts" pager="true">
    <ion-slide *ngFor="let medium of commodity.mediaList">
      <img style="width: 100%;height: auto; object-fit: cover;"
        src="{{host}}/static/{{commodity.title}}/{{medium.image}}" />
    </ion-slide>
  </ion-slides>
  <ion-grid>
    <ion-row>
      <ion-col style="color:orangered">
        ¥<span style="font-size: x-large;font-weight: bolder;">{{formatRBM(commodity.price.group)}}</span>
      </ion-col>
      <ion-col style="text-align: right;font-size: small">
        月销量999件
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="font-weight: bolder">
        [2日内发货] {{commodity.title}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-badge>极速退款</ion-badge>
        <ion-badge>全场包邮</ion-badge>
        <ion-badge>7天退换</ion-badge>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr style="height: 5px;background-color:gainsboro;margin-top: -5px;" />
  <ion-list>
    <ion-item style="margin-top:-20px;padding-top: 0px">
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>小麦铺</ion-label>
      <ion-label style="font-size:x-small">1000粉丝</ion-label>
    </ion-item>
    <ion-item lines="none" style="font-size:small">
      商品详情
    </ion-item>
    <img style="display:inline-block;width: 50%;height:auto;padding: 0 1px;" *ngFor="let medium of commodity.mediaList"
      src="{{host}}/static/{{commodity.title}}/{{medium.image}}" />
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button>
        <ion-icon name="wallet"></ion-icon>
        店铺
      </ion-button>
      <ion-button>
        <ion-icon name="chatbubbles"></ion-icon>
        客服
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>单买(¥{{formatRBM(commodity.price.single)}})
      </ion-button>
      <ion-button (click)="order()">拼单(¥{{formatRBM(commodity.price.group)}})
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>