<!-- <ion-header> -->
<ion-toolbar>
  <!-- <ion-title>detail</ion-title> -->
  <ion-slides [options]="slideOpts" pager="true">
    <ion-slide *ngFor="let medium of commodity.mediaList">
      <img style="height:200px;" src="{{host}}/static/{{commodity.title}}/{{medium.image}}" />
    </ion-slide>
    <!-- <ion-slide>
      <img src="assets/fruit/apple.png" />
    </ion-slide>
    <ion-slide>
      <img src="assets/fruit/pea.png" />
    </ion-slide>
    <ion-slide>
      <img src="assets/fruit/banana.png" />
    </ion-slide> -->
  </ion-slides>
  <ion-buttons style="position: fixed;top:0px;left:0px">
    <ion-button (click)="back()">
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons style="position: fixed;top:0px;right:0px">
    <ion-button>
      <ion-icon name="heart-empty"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="share"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<!-- </ion-header> -->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col style="font-size: x-large;color:crimson">
        ¥{{commodity.price.group}}
      </ion-col>
      <ion-col style="text-align: right;font-size: small">
        月销量9999
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="font-weight: bolder">
        [2日内发货]{{commodity.title}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-badge color="success">极速退款</ion-badge>
        <ion-badge color="success">全场包邮</ion-badge>
        <ion-badge color="success">7天退换</ion-badge>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr style="height: 5px;background-color:gainsboro;margin-top: -5px;" />
  <ion-list>
    <ion-item style="margin-top:-20px;padding-top: 0px">
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>小麦铺</ion-label>
      <ion-label style="font-size:x-small">1000粉丝</ion-label>
    </ion-item>
    <ion-item lines="none" style="font-size:small">
      商品详情
    </ion-item>
    <img style="height:200px;" *ngFor="let medium of commodity.mediaList" src="{{host}}/static/{{commodity.title}}/{{medium.image}}" />
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button>
        <ion-icon name="wallet"></ion-icon>
        店铺
      </ion-button>
      <ion-button>
        <ion-icon name="chatbubbles"></ion-icon>
        客服
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>单买(¥{{commodity.price.single}})
      </ion-button>
      <ion-button>拼买(¥{{commodity.price.group}})
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>