<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-round-back"></ion-back-button>
    </ion-buttons>
    <ion-title>订单管理</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="/">
        <ion-label>待发货</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="/">
        <ion-label>待退款</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <ion-item *ngFor="let order of orders">
    {{order.commodityId}}
  </ion-item>

</ion-content>