<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-round-back"></ion-back-button>
    </ion-buttons>
    <ion-title>实名认证</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item (click)="uploadImage('身份证正面')">
    身份证正面
    <ion-img src="{{host}}/static/{{user.id}}/certification/身份证正面.jpg" onerror="doDefault(this)"></ion-img>
  </ion-item>
  <ion-item (click)="uploadImage('身份证反面')">
    身份证反面
    <ion-img src="{{host}}/static/{{user.id}}/certification/身份证反面.jpg" onerror="doDefault(this)"></ion-img>
  </ion-item>
</ion-content>