<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>卖家服务</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button routerLink="/add">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display:inline-block;margin-left: 25%;margin-top: 30%;" routerLink="/publish">
    <ion-card style="width: 50px;height: 50px;background: orangered;font-size: x-small;">
      发布商品
    </ion-card>
    发布商品
  </div>
  <div style="display:inline-block;margin-left: 10%;" routerLink="/coupon">
    <ion-card style="width: 50px;height: 50px;background:palevioletred;font-size: x-small;">
      营销活动
    </ion-card>
    营销活动
  </div>
</ion-content>