<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openAddress()">
        <ion-icon name="pin"></ion-icon>
        <ion-label>{{address}}</ion-label>
      </ion-button>
      <ion-button>
        <ion-input placeholder="搜一下"></ion-input>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="changeStatusBar()">
        <ion-icon slot="icon-only" name="mail-unread"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <iframe width="420" scrolling="no" height="60" frameborder="0" allowtransparency="true"
    src="//i.tianqi.com/index.php?c=code&id=12&icon=1&num=1&site=12"></iframe> -->
  <!-- <div #map_container class="map_container"></div> -->
  <ion-slides [options]="slideOpts" pager="true">
    <ion-slide>
      <ion-card style="box-shadow: none;">
        <ion-card-subtitle style="float: left;">天气冷暖</ion-card-subtitle>
        <ion-card-content>
          <iframe width="420" scrolling="no" height="60" frameborder="0"
            allowtransparency="true" src="//i.tianqi.com/index.php?c=code&id=12&icon=1&num=2&site=12"></iframe>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <img style="height: 120px;width: auto;" src="assets/fruit/pea.png" />
    </ion-slide>
    <!-- <ion-slide>
      <img style="height: 120px;width: auto;" src="assets/fruit/apple.png" />
    </ion-slide> -->
    <ion-slide>
      <img style="height: 120px;width: auto;" src="assets/fruit/banana.png" />
    </ion-slide>
  </ion-slides>
  <ion-card-content>
    <div class="icon-layout">
      <img style="height:30px;width:auto" src="assets/fruit/apple.png" /><br>
      限时秒杀
    </div>
    <div class="icon-layout">
      <img style="height:30px;width:auto" src="assets/fruit/apple.png" /><br>
      大集果园
    </div>
    <div class="icon-layout">
      <img style="height:30px;width:auto" src="assets/fruit/apple.png" /><br>
      9块9特卖
    </div>
    <div class="icon-layout">
      <img style="height:30px;width:auto" src="assets/fruit/apple.png" /><br>
      认证好店
    </div>
    <div class="icon-layout">
      <img style="height:30px;width:auto" src="assets/fruit/apple.png" /><br>
      厂家直销
    </div>
    <div class="icon-layout">
      <img style="height:30px;width:auto" src="assets/fruit/apple.png" /><br>
      全国行情
    </div>
    <div class="icon-layout">
      <img style="height:30px;width:auto" src="assets/fruit/apple.png" /><br>
      生意圈
    </div>
    <div class="icon-layout">
      <img style="height:30px;width:auto" src="assets/fruit/apple.png" /><br>
      品牌館
    </div>
  </ion-card-content>
  <div style="bottom: 0px;position: absolute;height: 45%;width: 100%;text-align: center">
    <ion-card
      style="display: inline-block;width: 26%;height: 90%;background:linear-gradient(50deg,white, rgb(247, 247, 230))">
      <ion-card-header>
        <ion-card-subtitle>大家都在买</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card
      style="display: inline-block;width: 26%;height: 90%;background:linear-gradient(50deg,white, rgb(245, 237, 223))">
      <ion-card-header>
        <ion-card-subtitle>精选</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card
      style="display: inline-block;width: 26%;height: 90%;background:linear-gradient(50deg,white, rgb(247, 224, 245))">
      <ion-card-header>
        <ion-card-subtitle>专栏</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>