<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openAddress()">
        <ion-icon name="pin"></ion-icon>
        <ion-label>{{address}}</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-input placeholder="搜一下"></ion-input>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="mail-unread"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <iframe width="420" scrolling="no" height="60" frameborder="0" allowtransparency="true"
    src="//i.tianqi.com/index.php?c=code&id=12&icon=1&num=1&site=12"></iframe> -->
  <!-- <div #map_container class="map_container"></div> -->
  <ion-card style="background:linear-gradient(50deg,white, green)">
    <ion-card-header>
      <ion-card-subtitle>天气冷暖</ion-card-subtitle>
      <!-- <ion-card-title>Card Title</ion-card-title> -->
    </ion-card-header>

    <ion-card-content style="text-align: center">
      <iframe width="420" scrolling="no" height="60" frameborder="0" allowtransparency="true"
        src="//i.tianqi.com/index.php?c=code&id=12&icon=1&num=2&site=12"></iframe>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>大集头条</ion-card-subtitle>
      <!-- <ion-card-title>大集头条</ion-card-title> -->
    </ion-card-header>

    <ion-card-content style="height: 200px;">
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
</ion-content>