<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-round-back"></ion-back-button>
    </ion-buttons>
    <ion-title>扫码中...</ion-title>
    <ion-buttons slot="end">
      <ion-button></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <video muted playsinline id="qr-video"></video>
  <!-- <video id="qr-video" width="300" height="200" style="border: 1px solid gray"></video> -->
  <!-- <button class="switch">On / Off</button> -->
</ion-content>