.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.icon-layout {
  display: inline-block;
  width:25%;
  text-align: center
}

ion-header {
  height: 29%;
  color: var(--mytextcolor);
  background: var(--mycolor);
  z-index: 1;
  ion-toolbar {
    position: absolute;
    top: 15%;
    //color: white;
    --background: inherit
  }
}

ion-item-group {
  ion-badge {
    font-size: x-small;
    padding-top: 2px;
    padding-bottom: 0px;
  }
}