.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.icon-layout {
  display: inline-block;
  width: 25%;
  text-align: center
}

.top-toolbar {
  display: inline-block;
  width: 33%;
  margin-top: 30px;

  ion-button {
    //--border-style:none;
    --box-shadow: none;
    --color: var(--mytextcolor);
  }
}

.swiper {
  width: 94%;
  height: 180px;
  background: linear-gradient(180deg, var(--mycolor), white);
  text-align: center;
}

ion-item-group {
  ion-badge {
    font-size: x-small;
    padding-top: 2px;
    padding-bottom: 0px;
  }
}

ion-card-content {
  div {
    background: white;
  }
}